body{
  background-image: url(../images/shapes6.png);
  opacity: 0.5:
}
h1{
  font-family: 'Hanalei Fill', cursive;
  text-align: center;
  margin-top: 80px;
  font-size: 60px;
  color: #000000;
}
#form1{
  margin-left: 30%;
  margin-top: 10%;
}
#inputs{
  margin-left: 30%;
  text-align: center;
  display: inline-flex;

}
#submitButton{
  margin-left: 120px;
  margin-top: 50px;
  width: 100px;
  height: 70px;
  border-radius: 30px;
  font-family: 'Teko', sans-serif;
  font-size: 18px;

}
#submit{
  margin-left: 130px;
  margin-top: 50px;
  width: 100px;
  height: 70px;
  border-radius: 30px;
  font-family: 'Teko', sans-serif;
  font-size: 18px;
}
#answerHere{
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  margin-top: 50px;
  font-family: 'Patua One', cursive;
}
