h1{
  font-family: 'Hanalei Fill', cursive;
  text-align: center;

}
#form1{
  margin-left: 30%;
  margin-top: 10%;
}
#inputs{
  margin-left: 40%;
}
#submitButton{
  margin-left: 120px;
  margin-top: 80px;
  width: 100px;
  height: 70px;
  border-radius: 30px;
  font-family: 'Teko', sans-serif;
  font-size: 18px;

}
#submit{
  margin-left: 130px;
  margin-top: 50px;
  width: 90px;
  height: 50px;
  border-radius: 25px;
  font-family: 'Teko', sans-serif;
  font-size: 20px;
}
#answerHere{
  color: red;
  margin-left: 70px;
  margin-top: 50px;
  font-family: 'Patua One', cursive;
}
