body{
  background-image: url(../images/shapes7.jpg);
}

h1{
  font-family: 'Hanalei Fill', cursive;
  text-align: center;
  margin-top: 80px;
  font-size: 60px;
  color: #000000;
}

#form1{
  margin-left: 30%;
  margin-top: 6%;
  font-weight: bold;
  font-family: 'Staatliches', cursive;
  font-size: 25px;
}

#inputs{
  margin-left: 30%;
  text-align: center;
  display: inline-flex;
}

#submitButton{
  margin-left: 120px;
  margin-top: 50px;
  width: 100px;
  height: 70px;
  border-radius: 30px;
  font-family: 'Teko', sans-serif;
  font-size: 18px;
}

#submit{
  margin-left: 130px;
  margin-top: 50px;
  width: 100px;
  height: 70px;
  border-radius: 30px;
  font-family: 'Teko', sans-serif;
  font-size: 18px;
}

#answerHere{
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  margin-top: 50px;
  font-family: 'Patua One', cursive;
}
